*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", serif;
}

.container{
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
}

h1, li{
    margin: 0 auto;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:brown;
    padding: 16px;
    color:#fff;
}

header nav li{
    float: right;
    font-size: large;
}

header nav li a {
    color:#fff;
}

footer{
    background-color:brown;
    padding: 16px;
    color:#fff;    
}

nav li{
    list-style: none;
    padding: 5px;
    
}

body {
    background-color: rgb(212, 210, 212);
}

h2 {
    margin-top: 30px;
    padding: 10px;
}


#sobre-a-loja {
    display:flex;
}

#sobre-a-loja img{
    max-width: 400px;
    margin-top: 50px;
    margin-right: 30px;
}

.produtos img{
    max-width: 200px;    
    max-height: 200px;
    height: 100%;
    width: 100%;
}

.produtos{
    display: grid;
    grid-template-columns: repeat(4, 25%);
    margin-bottom: 30px;
    padding: 8px
}

.produtos button {
    background-color:rgb(204, 64, 64);
    color:#fff;
    padding: 6px;
    margin-top: 8px;
    border: none;
    border-top: 3px solid black;
}

.produtos button:hover{
    cursor: pointer;
    background-color:#fff;
    color:black;
}

hr{
    margin-bottom: 6px;
    padding: 2px;
    background-color: brown;
}

footer .container{
    max-width: 20%;
}
footer h3{
    margin-left: 35px;
    margin-bottom: 10px;
}
footer img {
    padding: 5px;
}


@media screen and (min-width: 768px) and (max-width: 1023px) {
    #sobre-a-loja {
        display:block;
    }
    #sobre-a-loja img{
        max-width: 100%;
        margin-top: 50px;
        padding: 0;
    }
    h2 {
        font-size: 30px;
    }
    p {
        font-size: 25px;
    }
    .produtos{
        display: grid;
        grid-template-columns: repeat(2, 50%);
        margin-bottom: 30px;
        margin-top: 40px;
        margin-left: 50px;
        padding: 12px;        
    }
    .container {
        max-width: 90%;
    }
    .produtos img{
        max-width: 70%;
        max-height: 55%;
    }
    footer .container {
        max-width: 30%;
    }
}

@media screen and (max-width: 767px){
    #sobre-a-loja {
        display:block;
        
    }
    #sobre-a-loja img {
        display:block;
        max-width:130%;
        
    }
    .container {
        max-width:70%;
    }
    .produtos{
        display: block;
        padding: 8px
    }
    .produtos article{
        margin-bottom: 20px;
        
    }
    .produtos img {
        margin-bottom: 10px;        
    }

    footer .container {
        max-width: 100%;
    }
}
