*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", serif;
}

.container{
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
}

h1,
nav li{
    margin: 0 auto;
}

header,
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:brown;
    padding: 16px;
    color:#fff;
}

nav li{
    list-style: none;
    padding: 5px;
    
}

body {
    background-color: rgb(212, 210, 212);
}

h2 {
    margin-top: 30px;
    padding: 10px;
}

.descrição h2{
    
    padding: 2px solid black;
}

#sobre-a-loja {
    display:flex;
}

#sobre-a-loja img{
    max-width: 400px;
    padding-right: 30px;
    margin-top: 50px;
}

#produtos img{
    max-width: 200px;    
    max-height: 200px;
    height: 100%;
    width: 100%;
}

#produtos{
    display: grid;
    grid-template-columns: repeat(4, 25%);
    margin-bottom: 30px;
}

#produtos button {
    background-color:rgb(204, 64, 64);
    color:#fff;
    padding: 6px;
    margin-top: 8px;
    border: none;
    border-top: 3px solid black;
}

#produtos button:hover{
    cursor: pointer;
    background-color:#fff;
    color:black;
}